.intro{
    display: flex;
    height: 77vh;
    margin-top: 6rem;
}

.i-left{
    display: flex;
    position: relative;
    flex: 1;
    flex-direction: column;
    gap: 2rem;
}

.i-name{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.i-name>:nth-child(1){
    color: black;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(2){
    color: #B1B2FF;
    font-weight: bold;
    font-size: 3rem;
}

.i-name>:nth-child(3){
    font-weight: 300;
    font-size: 14px;
    color: gray;
}

.i-button{
    height: 2rem;
    width: 6rem;
}

.i-icon{
    margin-top: 10px;
    display: flex;
    gap: 0rem;
}

.i-icon>*{
    transform: scale(0.5);

}

.i-icon>:nth-child(1){
    transform: scale(0.57);
}

.i-icon>*:hover{
    cursor: pointer;
}

.i-right{
    flex: 1;
    position: relative;
}

.i-right>*{
    position: absolute;
    z-index: 1;
}

.i-right>:nth-child(1){
    transform: scale(0.86);
    left: 5%;
    top: 2%; 
}

.i-right>:nth-child(3){
    transform: scale(1.15);
    left:20%;
    top: -3%;
}

.i-right>:nth-child(2){
    transform: scale(0.86);
    bottom: 10%;
    right: 6%;
}

.i-right>:nth-child(4){
    transform: scale(.63);
    top: -5%;
    left: -6%;
}

.blur{
    position: absolute;
    width: 22rem;
    height: 16rem;
    border-radius: 50%;
    background: #edd0ff;
    z-index: 0;
    top: -20%;
    left: 50%;
    filter: blur(70px);
}




